<div class="col">
    <h2> How much do you spend a year on christmas gifts? </h2>
</div>
<div class="col-6">
    <form class="multi-range-field my-5 pb-5">

        <p class="pb-0 mb-0">In Canadian Dollars:</p><br>
        <div class="slidecontainer">
            <input type="range" min="0" max="500" value="250" class="slider" id="myRange">
        </div>
        <p>Amount: $<span id="rangeOutput"></span></p>
    </form>
</div>
