<div class="col">
    <h2> What fruit do you like? </h2>
</div>
<div class="col-6">
    <p class="pb-0 mb-0">I like:</p><br>
    <input type="text" name="fruit" placeholder="fruit name..." required />
</div>
