<div class="col">
    <h2>What is your favorite animal?</h2>
</div>
<div class="col-6">
    <p class="pb-0 mb-0">I like:</p><br>
    <select name="animal" required>
        <option value="Cat" selected="selected">Cat</option>
        <option value="Dog">Dog</option>
        <option value="Turtle">Turtle</option>
    </select>
</div>
