<div class="col">
    <h2> What school do you attend? </h2>
</div>
<div class="col-6">
    <p class="pb-0 mb-0">I attend:</p><br>
    <input type="text" name="school" placeholder="School Name" required />
</div>
