/* This style sheet is taken from  https://www.w3schools.com/howto/howto_js_tabs.asp> */
html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0 0 100px;
  padding: 25px;

}


footer {
  background-color: #555;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow: hidden;
}

.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content */
.tabcontent {
  height:0%;
  text-align: center;
  padding: 6px 12px;
  border: 1px solid #ccc;
  /*border-top: none;*/
}
@keyframes color-client-in {
  /* You could think of as "step 1" */
  0% {
    background: white;
  }
  /* You could think of as "step 2" */
  100% {
    background: red;
  }
}

@keyframes color-products-in {
  /* You could think of as "step 1" */
  0% {
    background: white;
  }
  /* You could think of as "step 2" */
  100% {
    background: orange;
  }
}
@keyframes color-cart-in {
  /* You could think of as "step 1" */
  0% {
    background: white;
  }
  /* You could think of as "step 2" */
  100% {
    background: green;
  }
}


/* Style the buttons that are used to open the tab content */
.tabs button {
  width: 33.3%;
}

#Client {
  /*background-color:red;*/
  animation: color-client-in 5s; /* other keywords like "infinite alternate" can be useful here */
}
#Products {
  /*background-color:orange;*/
  animation: color-products-in 5s; /* other keywords like "infinite alternate" can be useful here */
}
#Cart {
  /*background-color:green;*/
  animation: color-cart-in 5s; /* other keywords like "infinite alternate" can be useful here */
}

